.shadow-primary {
  box-shadow: 0 0.5rem 1rem rgba(13, 110, 253, 0.4) !important;
}

.cursor-circle {
  position: fixed;
  width: 10vw;
  height: 10vw;
  max-width: 320px;
  max-height: 320px;
  border-radius: 50%;
  background: rgba(13, 110, 253, 0.1);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 50ms linear;
  /* mix-blend-mode: screen; */
}

.dark-grey {
  background-color: #343a40;
}

.vh-auto {
  height: auto;
}

.ql-toolbar.ql-snow {
  background: #ffffff; /* white background for writing area */
  color: #000000; /* black text */
}

@media (min-width: 768px) {
  .vh-md-95 {
    height: 100vh;
  }
}
.min-vh-95 {
  height: 95vh;
}

#myTable {
  background-color: white;
  color: black;
}
#dt-search-0 {
  background-color: white;
  color: black;
}

div.dt-container select.dt-input {
  padding: 4px;
  background: black;
}

/* parent height jitni ho, usme overflow allowed */
.dashboard-details-content {
  overflow: hidden; /* Page scroll se bachane ke liye */
}

/* yahi container andar scroll karega */
.portfoliodetails {
  max-height: 90vh; /* PAGE nahi, sirf box restrict hoga */
  overflow-y: auto; /* vertical scroll */
  overflow-x: hidden;
}

/* dark mode switcher */

/* Default Light Mode */
body {
  background-color: #f8fafc;
  color: #0f172a;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.light-seconday-color {
  color: #94a3b8;
}

.card-bg {
  background-color: #fefce8;
  box-shadow: 0 0 5px 0 rgb(52, 52, 52);
}

/* Dark Mode */
body.dark {
  background-color: #0f172a;
  color: #f1f5f9;
}

.dark-seconday-color {
  color: #94a3b8;
}

body.dark.cursor-circle {
  mix-blend-mode: screen;
}

body.dark .card-bg {
  background-color: #1e293b;
  box-shadow: 0 0 5px 0 rgb(214, 214, 214);
}

.navbar-brand {
  color: #000 !important;
}

/* Brand */
body.dark .navbar-brand {
  color: #ffffff !important;
}

.navbar .nav-link {
  color: #000 !important;
}

/* Nav links */
body.dark .navbar .nav-link {
  color: #e0e0e0 !important;
}

.navbar .nav-link.active {
  color: #000 !important;
  font-weight: bold;
}

/* Active link */
body.dark .navbar .nav-link.active {
  color: #00ff99 !important;
}

.navbar .nav-link:hover {
  color: #0a0a0aff !important;
  font-weight: bold;
}

/* Hover */
body.dark .navbar .nav-link:hover {
  color: #00ff99 !important;
}

.navbar-toggler {
  border-color: #000 !important;
}

.navbar-toggler-icon {
  border-color: #000 !important;
}

/* Toggle button (mobile) */
body.dark .navbar-toggler {
  border-color: #ffffff !important;
}
body.dark .navbar-toggler-icon {
  border-color: #ffffff !important;
}

/* Default (Light Mode) */
.navbar-toggler i {
  color: #000;
  font-size: 1.2rem;
}

/* Dark Mode */
body.dark .navbar-toggler i {
  color: #ffffff;
}

/* 
body.dark .navbar-toggler-icon {
  filter: invert(1);
} */

/* button  */

.button-bg-color {
  background-color: #7c3aed;
  color: #fff;
  transition: transform 0.2s ease;
}

.button-bg-color:hover {
  background-color: #7c3aed;
  color: #fff;
  font-weight: bold;
  transform: scaleX(0.95);
}

/* tech-stack  */

.tech-bg-color {
  background-color: #9175c2;
  color: #fff;
}
